*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
#container{
    height: 100vh;
    width: 100%;
    border: 1px solid black;
    display: flex;
    justify-content: center;
    align-items: center;
    
}
#container .box{
width: 300px;
 height: 300px; 
border: 1px solid black;
/* background-color: darkmagenta; */
/* animation: name duration timing-function delay iteration-count direction fill-mode; */
/* animation:changecolor 5s ease infinite ; */
animation: backgrund-color 2s ease 2s;
}
#conttainer .box:hover{
    background-color: aqua;
    width: 500px;
    transform: rotatey(90deg) scale(1.5);

}
.main{
    display: grid;
    grid-template-columns: repeat(10,300px);
overflow: scroll;
scrollbar-width: none;
}
.box{
    width: 300px;
    height: 300px;
    border: 1px solid black;
    
}




/* @keyframes changecolor{
    0%{
        background-color: purple;
        transform: translate(0px,0px);
    }
    25%{
        background-color: purple;
        transform: translate(400px,0px);
    }
    50%{
        background-color: palevioletred;
        transform: translate(400px,400px);
    }
    75%{
        background-color: pink;
        transform: translate(0px,400px);
    }
   
    100%{
        background-color: blueviolet;
        transform:translate() ;
    }
} */