/* body{
    justify-items: center;
}
.card{
    width: 150px;
    border: 1px solid black;
    padding: 10px;
    justify-items: center;
    border-radius: 5px;
}
 button{
    color:black;
    background-color: blue;
    border-radius: 10px;
    text-decoration: none;
} 
a{
    color: black;
    text-decoration: none;
}
p{
    margin-left: 10px;
} */
 /* .card{
    background-color: blue;
    height: 300px;
    width: 300px;
    box-shadow: 3px 4px 12px 6px red;
    border-top-left-radius: 30px;
 } */
  /* .parent{
    display: flex;
    justify-content: space-evenly;
  } */