
    

   /* .heading{
    color:green ;
    text-decoration: underline;
    text-decoration-color: purple;
    text-decoration-style: dashed ;
    font-size: 60px;
    font-style: italic;
    text-align: center;
    font-weight: 100px;
    font-family: cursive; 
    text-shadow: 3px  red;
}
p{
     word-spacing: 10px;
    letter-spacing: 20px; 
 line-height: 50px; 
}
.main{
    text-shadow: 3px 4px 5px red; */

.container{
    background-color: aquamarine;
    padding: 20px;
    /* padding-left: 30px;
    padding-bottom: 20px; */
}
.container1{
    background-color: blue;
    padding: 20px;
    margin-top: 20px;
    border: 10px double darkblue;
    border-radius: 10px;
}