.row1{
    background-color: aqua;
}
.row2 td:first-child{
    background-color: blue;
}
.row3 td:nth-child(even){
    background-color: aqua;
} 
 .row4 td:nth-child(odd){
    background-color: blue;
}
.row5 td:nth-child(even){
    background-color: aqua;
} 
.row6 td:nth-child(odd){
    background-color:blue;
} 
.row7 td:nth-child(even){
    background-color: aqua;
} 
.row8 td:nth-child(odd){
    background-color:blue;
} 